{% extends 'base.html' %}

{% block title %}Home - LeafSnap{% endblock %}

{% block content %}


    <div class="container">



        <div class="home-section">

            <h1>Welcome to <strong class="title">LeafSnap Exploration</strong></h1>
            <p>Your one-stop solution for plant leaf identification.</p>
          <form action="{{ url_for('main.upload') }}" method="GET">
            <button class="btn"  type="submit">
                Get Started
            </button>
          </form>

        </div>
        <div class="features-section">
            <h1 class="title">Features</h1>
            <div class="card-container">
                <div class="card">
                    <ul>
                        <li><i class="fa-solid fa-circle-check icon"></i>A machine learning model to classify leaves</li>
                        <li><i class="fa-solid fa-circle-check icon"></i>Image recognition technology (TensorFlow, Transfer learning)</li>
                        <li><i class="fa-solid fa-circle-check icon"></i>View plant information and care tips</li>
                    </ul>

                </div>
                <div class="card">
                        <ul>
                            <li> <i class="fa-solid fa-circle-check icon"></i>Upload a leaf image</li>
                            <li><i class="fa-solid fa-circle-check icon"></i>Get plant species identification</li>
                            <li><i class="fa-solid fa-circle-check icon"></i>View plant information and care tips</li>
                    </ul>
                </div>

                <div class="card">
                    <ul>
                        <li><i class="fa-solid fa-circle-check icon"></i>Image Database</li>
                        <li><i class="fa-solid fa-circle-check icon"></i>Plant Care Tips</li>
                        <li><i class="fa-solid fa-circle-check icon"></i>Love for our plants</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="benefits-section">
            <h1 class="title">Benefits</h1>

            <div class="card-container">

                <div class="card">
                    <ul>
                        <li><i class="fa-solid fa-circle-check icon"></i>Easy plant identification</li>
                        <li><i class="fa-solid fa-circle-check icon"></i>Learn about different plant species</li>
                        <li><i class="fa-solid fa-circle-check icon"></i>Improve your gardening skills</li>
                    </ul>
                 </div>

                <div class="card">
                    <ul>
                        <li><i class="fa-solid fa-circle-check icon"></i>Save time in identifying plants</li>
                        <li><i class="fa-solid fa-circle-check icon"></i>Access a community of plant enthusiasts</li>
                    </ul>
                </div>

            </div>

           
        </div>

        <div class="get-started-section">
            <h1 class="title">Get Started</h1>
            <p>Ready to identify your plant? </p>
            <form action="{{ url_for('main.upload') }}" method="post">
                <button class="btn" type="submit">
                    Upload an Image
                </button>
            </form>
        </div>
        <!-- Footer -->
    <footer>
        <p>&copy; 2025 Faith Nchang</p>
    </footer>
    

{% endblock %}