{% extends 'base.html' %}

{% block title %}Upload - LeafSnap Exlore{% endblock %}

{% block content %}
    <div class="container upload-container">
        <h1 class="title">Upload a Leaf Image</h1>

        <div class="upload-section">
           <form action="{{ url_for('main.upload') }}" method="post" enctype="multipart/form-data" >
                <input id="fileInput" type="file" name="leaf_image"  required style="display: none;">
                <div id="uploadDiv" class="uploadDiv">
                    <i class="fa-solid fa-upload icon upload-icon"></i>

                    <label for="fileInput" id="upload-label">
                        <p>Click to upload a leaf image </p>
                    </label>

                     
                </div>
                <!-- post request for prediction -->
                <button class="btn upload-btn" type="submit"  onclick="submitForm()">
                    Upload
                </button>
             </form>

               
                {% if alert_message == "Error!" %}

                    <div class="alert alert-danger" role="alert">
                        {{ alert_message }} uploading the file. Please try again.
                    </div>

                {% endif %}
          
        </div>

        <!-- image analysis and prediction -->
        <div>
            {% if file %}
                <h2 class="title analysis-title">Image Analysis and Prediction</h2>
            {% endif %}

            <div class="analysis-section">
                <div class="img">
                    {% if file %}
                        <img src="{{ url_for('static', filename='uploads/' + file.filename) }}" alt="Uploaded Leaf Image" class="uploaded-image">
                    {% endif %}
                </div>
                <div class="prediction">
                    {% if predictions %}

                        <h1 class="title">Predictions</h1>
                         <p>
                            The leaf image belongs to the {{ predictions }} class.
                         </p>
                       
                    {% endif %}

                    {% if prediction_error %}
                        <div class="alert alert-danger" role="alert">
                            {{ prediction_error }}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

       
    </div>

{% endblock %}